
{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-console": "off",
    "no-alert": "off",
    "no-plusplus": "off",
    //"no-unused-vars": "off",
    "no-nested-ternary": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": [
      "off",
      {
        "devDependencies": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "parser": "babel-eslint"
}
