
{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": [
      "off",
      {
        "devDependencies": true
      }
    ]
  },
  "parser": "babel-eslint"
}
